In [16]:
# pip install gcloud --user

In [17]:
# pip install --upgrade google-api-python-client

In [18]:
# pip install google

In [1]:
#pip install gmaps

In [1]:
import pandas as pd
import numpy as np
import os
from google.cloud import bigquery
import geopy.distance

In [2]:
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = 'bcx-insights-6dfb9fabfb5b.json'

In [3]:
bigquery_client = bigquery.Client(project='bcx-insights')

In [4]:
sql = "SELECT * FROM `bcx-insights.bcx_networkhealth.bcxlocation_20190701_00`"

In [5]:
query = bigquery_client.query(sql)

In [6]:
df = query.to_dataframe()

In [7]:
df.head()

,Am_Id,Lat,Lon,G_City,G_Suburb,G_Street_Name,G_Str_Num,Loc_Region,Fibre_Status,Max_Cbr_Speed,Me_Status,Me_Classification,Mt_Lte
0,43337015,-25.763962,27.279501,REX,WATERKLOOF 305JQ,WATERKLOOF RD,1,NER,(blank),1000,BUILD,Intra-city,(blank)
1,44486174,-26.796704,28.93696,VAL,VAL,SMITH ST,6,NER,(blank),(blank),N,(blank),(blank)
2,43472504,-33.542736,25.665624,ADDO,ADDO,ADDO RD,1,SR,(blank),(blank),WORKING,Inter-city,(blank)
3,43472284,-33.551408,25.68969,ADDO,ADDO,R335 RD,113254,SR,(blank),(blank),WORKING,Inter-city,(blank)
4,43472289,-33.551408,25.68969,ADDO,ADDO,R335 RD,113296,SR,(blank),(blank),WORKING,Inter-city,(blank)

In [8]:
df.tail()

,Am_Id,Lat,Lon,G_City,G_Suburb,G_Street_Name,G_Str_Num,Loc_Region,Fibre_Status,Max_Cbr_Speed,Me_Status,Me_Classification,Mt_Lte
24011,49109521,-26.764218,26.420475,HARTBEESFONTEIN (NORTH WEST),HARTBEESFONTEIN,EENHEID VOORTRKKER RD,61,NER,(blank),(blank),WORKING,Inter-city,(blank)
24012,49108597,-25.103824,30.475046,HARTBEESFONTEIN (NORTH WEST),HARTBEESFONTEIN,DU TOIT ST,1,NER,(blank),(blank),WORKING,Inter-city,(blank)
24013,49109111,-26.756583,26.431264,HARTBEESFONTEIN (NORTH WEST),HARTBEESFONTEIN,MEULE ST,1,NER,(blank),(blank),WORKING,Inter-city,(blank)
24014,49109535,-26.765741,26.420132,HARTBEESFONTEIN (NORTH WEST),HARTBEESFONTEIN,Z..EENHEID ST,92,NER,(blank),(blank),WORKING,Inter-city,(blank)
24015,49109379,-26.759122,26.42373,HARTBEESFONTEIN (NORTH WEST),HARTBEESFONTEIN,EENHEID VOORTRKKER RD,113,NER,(blank),(blank),WORKING,Inter-city,(blank)

In [9]:
def format_table(df):
    
    df = df.copy()[['Am_Id','Lat','Lon','G_City','G_Suburb','G_Street_Name','G_Str_Num']]
    df.replace('(blank)', np.nan, inplace=True)
    
    new_cols = ['Country','Province','Building','Floor','Room','Postal_Code']
    for i in new_cols:
        df[i] = np.nan
        
    df['City'] = df['G_City']
    df['Suburb'] = df['G_Suburb']
    df['Street'] = df['G_Street_Name']
    df['Number'] = df['G_Str_Num']
    df['Latitude'] = df['Lat']
    df['Longitude'] = df['Lon']
    
    df = df[['Am_Id','Country','Province','City','Suburb','Street','Number','Building','Floor','Room','Postal_Code','Latitude','Longitude']]
    
    #df.sort_values(['Country','Province','City','Suburb','Street'], ascending = [True, True, True, True, True], inplace=True)
    
    return df

In [10]:
format_table(df).head(10)

,Am_Id,Country,Province,City,Suburb,Street,Number,Building,Floor,Room,Postal_Code,Latitude,Longitude
0,43337015,NaN,NaN,REX,WATERKLOOF 305JQ,WATERKLOOF RD,1,NaN,NaN,NaN,NaN,-25.763962,27.279501
1,44486174,NaN,NaN,VAL,VAL,SMITH ST,6,NaN,NaN,NaN,NaN,-26.796704,28.93696
2,43472504,NaN,NaN,ADDO,ADDO,ADDO RD,1,NaN,NaN,NaN,NaN,-33.542736,25.665624
3,43472284,NaN,NaN,ADDO,ADDO,R335 RD,113254,NaN,NaN,NaN,NaN,-33.551408,25.68969
4,43472289,NaN,NaN,ADDO,ADDO,R335 RD,113296,NaN,NaN,NaN,NaN,-33.551408,25.68969
5,43472327,NaN,NaN,ADDO,ADDO,R335 RD,937,NaN,NaN,NaN,NaN,-33.551408,25.68969
6,43472503,NaN,NaN,ADDO,ADDO,SLAGBOOM FARM ST,1,NaN,NaN,NaN,NaN,-33.374949,25.668648
7,43472251,NaN,NaN,ADDO,ADDO,ADDO PATERSON MAIN RD,11359,NaN,NaN,NaN,NaN,-33.546711,25.690003
8,43472286,NaN,NaN,ADDO,ADDO,R335 RD,113271,NaN,NaN,NaN,NaN,-33.551408,25.68969
9,43472736,NaN,NaN,ADDO,VALENCIA,IVY CT,962,NaN,NaN,NaN,NaN,-33.551963,25.699362

In [11]:
df = format_table(df)

In [12]:
# SA Booundary corner coords
SA_NW = (-23.307300, 15.692738)
SA_NE = (-22.073258, 32.890010)
SA_SW = (-34.810614, 15.664865)
SA_SE = (-34.242325, 35.264604)

In [13]:
# Geocoord Ranges
lat_range = (SA_NE[0],SA_SW[0])
lon_range = (SA_NW[1],SA_NE[1])

In [14]:
SA_NE[1]

32.89001

In [15]:
def max_dist_N(df, distance=1):
    '''Returns another column with a list of site Ids that are within the specified distance from each site in the DataFrame'''
    
    # Handy variables
    IDs = df['Am_Id']
    lat = df['Latitude']
    lon = df['Longitude']
    
    # Create a dictionary to populate
    dist_dic = {}
    
    # For nested loop populating dictionary
    for i in range(len(IDs)):
        dist_dic[IDs[i]] = []
        current_site = (lat[i],lon[i])
        for j in range(len(IDs)):
            if (df['Suburb'][i] == df['Suburb'][j]):
                other_site = (lat[j], lon[j])
                
                # Conditionally append other site IDs based on distance from current site
                if (i!=j) & (geopy.distance.great_circle(current_site, other_site) < distance):
                    dist_dic[IDs[i]].append(df['Am_Id'][j])
    
    # Transform dictionary values into an added column to the Dataframe
    df['Max_Distance_N'] = [x for x in dist_dic.values()]
    
    return df

In [16]:
max_dist_N(df.copy()[:500], distance=0.5)

,Am_Id,Country,Province,City,Suburb,Street,Number,Building,Floor,Room,Postal_Code,Latitude,Longitude,Max_Distance_N
0,43337015,NaN,NaN,REX,WATERKLOOF 305JQ,WATERKLOOF RD,1,NaN,NaN,NaN,NaN,-25.763962,27.279501,[]
1,44486174,NaN,NaN,VAL,VAL,SMITH ST,6,NaN,NaN,NaN,NaN,-26.796704,28.93696,[]
2,43472504,NaN,NaN,ADDO,ADDO,ADDO RD,1,NaN,NaN,NaN,NaN,-33.542736,25.665624,[]
3,43472284,NaN,NaN,ADDO,ADDO,R335 RD,113254,NaN,NaN,NaN,NaN,-33.551408,25.68969,"[43472289, 43472327, 43472286]"
4,43472289,NaN,NaN,ADDO,ADDO,R335 RD,113296,NaN,NaN,NaN,NaN,-33.551408,25.68969,"[43472284, 43472327, 43472286]"
5,43472327,NaN,NaN,ADDO,ADDO,R335 RD,937,NaN,NaN,NaN,NaN,-33.551408,25.68969,"[43472284, 43472289, 43472286]"
6,43472503,NaN,NaN,ADDO,ADDO,SLAGBOOM FARM ST,1,NaN,NaN,NaN,NaN,-33.374949,25.668648,[]
7,43472251,NaN,NaN,ADDO,ADDO,ADDO PATERSON MAIN RD,11359,NaN,NaN,NaN,NaN,-33.546711,25.690003,[]
8,43472286,NaN,NaN,ADDO,ADDO,R335 RD,113271,NaN,NaN,NaN,NaN,-33.551408,25.68969,"[43472284, 43472289, 43472327]"
9,43472736,NaN,NaN,ADDO,VALENCIA,IVY CT,962,NaN,NaN,NaN,NaN,-33.551963,25.699362,[]
10,43473548,NaN,NaN,ADDO,NOMATHAMSANQA,NOMATHAMSANQA RD,291,NaN,NaN,NaN,NaN,-33.525331,25.7097,[43474021]
11,51823456,NaN,NaN,ADDO,NOMATHAMSANQA,STAND ST,1637,NaN,NaN,NaN,NaN,-33.529437,25.71402,[]
12,43474021,NaN,NaN,ADDO,NOMATHAMSANQA,NOMATHAMSANQA RD,2465,NaN,NaN,NaN,NaN,-33.525331,25.7097,[43473548]
13,48816742,NaN,NaN,ALMA,ALMA,MAIN RD,1,NaN,NaN,NaN,NaN,-24.487956,28.069961,[]
14,48816880,NaN,NaN,ALMA,RHENOSTERFONTEIN 465KQ,RANKINS PASS RD,5\465,NaN,NaN,NaN,NaN,-24.528814,27.914068,[48816878]
15,48816878,NaN,NaN,ALMA,RHENOSTERFONTEIN 465KQ,RANKINS PASS RD,1\465,NaN,NaN,NaN,NaN,-24.528814,27.914068,[48816880]
16,48817313,NaN,NaN,APEL,APEL,APEL RD,12,NaN,NaN,NaN,NaN,-24.42306,29.769659,[48817436]
17,54947350,NaN,NaN,APEL,APEL,APEL RD,1,NaN,NaN,NaN,NaN,-24.414712,29.748589,[77810186]
18,48817436,NaN,NaN,APEL,APEL,APEL RD,223,NaN,NaN,NaN,NaN,-24.42306,29.769659,[48817313]
19,77810186,NaN,NaN,APEL,APEL,MASHA CLINIC ST,TAN1,NaN,NaN,NaN,NaN,-24.414286,29.746682,[54947350]
20,51349647,NaN,NaN,APEL,APEL,APEL RD,12B,NaN,NaN,NaN,NaN,-24.411487,29.767429,[]
21,52546649,NaN,NaN,APEL,MASHUNG,MASHUNG RD,12B,NaN,NaN,NaN,NaN,-24.430789,29.798093,[]
22,48826330,NaN,NaN,APEL,MASHUNG,MASHUNG RD,515,NaN,NaN,NaN,NaN,-24.420654,29.788904,[]
23,53000315,NaN,NaN,APEL,TSWAING,TSWAING_2 ST,103,NaN,NaN,NaN,NaN,-24.475377,29.67542,[]
24,77817268,NaN,NaN,APEL,GA NKOANA,NKOARIA CLINIC ST,1,NaN,NaN,NaN,NaN,-24.409714,29.789436,[]
25,48817288,NaN,NaN,APEL,GA NKOANA,GA NKOANA RD,TAN 1,NaN,NaN,NaN,NaN,-24.422314,29.78592,[]
26,48829740,NaN,NaN,APEL,MOHLALETSI,STAND RD,TAN1,NaN,NaN,NaN,NaN,-24.445608,29.862212,[]
27,77816343,NaN,NaN,APEL,MOHLALETSI,MOHLALETSI CLINIC ST,1,NaN,NaN,NaN,NaN,-24.481804,29.875185,[]
28,77771682,NaN,NaN,APEL,GA MANKOPANE,NEHABELENG CLINIC ST,1,NaN,NaN,NaN,NaN,-24.432859,29.826804,[]
29,48831607,NaN,NaN,APEL,GA NTSHABELENG,GA NTSHABELENG RD,TAN1,NaN,NaN,NaN,NaN,-24.440123,29.799162,[]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
470,45789841,NaN,NaN,LANGA,LANGA,KING LANGALIBALELE DR,4A,NaN,NaN,NaN,NaN,-33.943623,18.522593,"[45789792, 45789776, 45789782, 45788318, 50802..."
471,78055158,NaN,NaN,LEDIG,LEDIG,R565 RD,1,NaN,NaN,NaN,NaN,-25.377649,27.06061,[]
472,43305762,NaN,NaN,LEDIG,Z.LEDIG,Z.STAND RD,3,NaN,NaN,NaN,NaN,-25.3625,27.055,[]
473,42169905,NaN,NaN,MAMRE,MAMRE,MAIN RD,42,NaN,NaN,NaN,NaN,-33.512333,18.474727,"[42920105, 45834508]"
474,42920105,NaN,NaN,MAMRE,MAMRE,HARDENBERG ST,2,NaN,NaN,NaN,NaN,-33.510187,18.473586,[42169905]
475,45834508,NaN,NaN,MAMRE,MAMRE,MAIN RD,154,NaN,NaN,NaN,NaN,-33.513972,18.477937,[42169905]
476,77812450,NaN,NaN,MASIA,MASIA,KURHULENI CLINIC ST,1,NaN,NaN,NaN,NaN,-23.145419,30.358426,[]
477,49453821,NaN,NaN,MASIA,MASIA,STAND ST,1,NaN,NaN,NaN,NaN,-23.219119,30.332486,[]
478,49454079,NaN,NaN,MASIA,DE HOOP,STAND RD,2,NaN,NaN,NaN,NaN,-26.064966,25.889042,[]
479,54931871,NaN,NaN,MASIA,MATSILA,DE HOOP ST,1,NaN,NaN,NaN,NaN,-23.187781,30.276445,[]
480,46789393,NaN,NaN,MEMEL,MEMEL,KNIPE ST,6,NaN,NaN,NaN,NaN,-27.681448,29.567065,"[46789325, 46789386, 46789635, 46789394]"
481,46789325,NaN,NaN,MEMEL,MEMEL,GENERAL DE WET ST,33,NaN,NaN,NaN,NaN,-27.682826,29.567031,"[46789393, 46789386, 46789635, 46789394]"
482,46789386,NaN,NaN,MEMEL,MEMEL,KNIPE ST,1,NaN,NaN,NaN,NaN,-27.681475,29.566252,"[46789393, 46789325, 46789635, 46789394]"
483,46789635,NaN,NaN,MEMEL,MEMEL,VOORTREKKER ST,18,NaN,NaN,NaN,NaN,-27.68305,29.562454,"[46789393, 46789325, 46789386, 46789394]"
484,46789394,NaN,NaN,MEMEL,MEMEL,KNIPE ST,129,NaN,NaN,NaN,NaN,-27.681437,29.567069,"[46789393, 46789325, 46789386, 46789635]"
485,44903521,NaN,NaN,MKUZE,MKUZE,MKUZE TOWN RD,50\60,NaN,NaN,NaN,NaN,-27.617655,32.032651,"[44903483, 44903515, 44903486, 44903500, 44903..."
486,44903483,NaN,NaN,MKUZE,MKUZE,MAIN (234) RD,29,NaN,NaN,NaN,NaN,-27.621793,32.03073,"[44903521, 44903515, 44903486, 44903500, 44903..."
487,44903515,NaN,NaN,MKUZE,MKUZE,MKUZE TOWN RD,3,NaN,NaN,NaN,NaN,-27.617655,32.032651,"[44903521, 44903483, 44903486, 44903500, 44903..."
488,44903486,NaN,NaN,MKUZE,MKUZE,MAIN (234) RD,6,NaN,NaN,NaN,NaN,-27.621793,32.03073,"[44903521, 44903483, 44903515, 44903500, 44903..."
489,44903500,NaN,NaN,MKUZE,MKUZE,MKUZE TOWN RD,1\60,NaN,NaN,NaN,NaN,-27.617655,32.032651,"[44903521, 44903483, 44903515, 44903486, 44903..."
490,44903522,NaN,NaN,MKUZE,MKUZE,MKUZE TOWN RD,53,NaN,NaN,NaN,NaN,-27.617655,32.032651,"[44903521, 44903483, 44903515, 44903486, 44903..."
491,77833708,NaN,NaN,MKUZE,RESERVE NO 2 15821HV,D1887 RD,1,NaN,NaN,NaN,NaN,-27.70545,32.14601,[]
492,44903553,NaN,NaN,MONZI,MONZI,MONZI NORTH (D674) RD,246,NaN,NaN,NaN,NaN,-28.372744,32.243891,[44903700]
493,44903700,NaN,NaN,MONZI,MONZI,MONZI NORTH (D674) RD,386,NaN,NaN,NaN,NaN,-28.372744,32.243891,[44903553]
494,54937665,NaN,NaN,MUDEN,EMBANGWENI,L1123 RD,17483,NaN,NaN,NaN,NaN,-28.821893,30.402993,[]
495,54937074,NaN,NaN,MUDEN,ENHLALAKAHLE SP,P373 RD,17483,NaN,NaN,NaN,NaN,-28.837023,30.302,[]
496,76702948,NaN,NaN,MUDEN,LOT 2 MUNDEN 10771GT,R74 RD,10771,NaN,NaN,NaN,NaN,-28.977749,30.371577,[]
497,53939575,NaN,NaN,MUDEN,WEENEN RURAL DISTRICT,L1859 RD,2207,NaN,NaN,NaN,NaN,-28.97883,30.37794,[44928618]
498,44928618,NaN,NaN,MUDEN,WEENEN RURAL DISTRICT,WEENEN (12-2) RD,3588\2,NaN,NaN,NaN,NaN,-28.97883,30.37794,[53939575]
499,47803944,NaN,NaN,NIGEL,NIGEL,COURT ST,39,NaN,NaN,NaN,NaN,-26.418549,28.467587,[]

In [17]:
df = max_dist_N(df.copy()[:1000], distance=0.5)

In [20]:
def Same_Block(df):
    '''Returns another column with a list of site Ids that are within the specified distance from each site in the DataFrame'''
    
    # Handy variables
    IDs = df['Am_Id']
    lat = df['Latitude']
    lon = df['Longitude']
    neighbours = df['Max_Distance_N']
    
    # Create a dictionary to populate
    dist_dic = {}
    
    # Nested for loop populating dictionary
    for i in range(len(IDs)):
        dist_dic[IDs[i]] = []
        current_site = (lat[i],lon[i])
        for j in neighbours[i]:
            for k in range(len(df)):
                if IDs[k]==j:
                    other_site = (lat[k],lon[k])
                    # Conditionally append other site IDs based on distance from current site
                    if geopy.distance.great_circle(current_site, other_site) < 0.1:
                        dist_dic[IDs[i]].append(j)
     
    df['Same_Block_N'] = [x for x in dist_dic.values()]
                
    return df

In [21]:
Same_Block(df)

,Am_Id,Country,Province,City,Suburb,Street,Number,Building,Floor,Room,Postal_Code,Latitude,Longitude,Max_Distance_N,Same_Block_N
0,43337015,NaN,NaN,REX,WATERKLOOF 305JQ,WATERKLOOF RD,1,NaN,NaN,NaN,NaN,-25.763962,27.279501,[],[]
1,44486174,NaN,NaN,VAL,VAL,SMITH ST,6,NaN,NaN,NaN,NaN,-26.796704,28.93696,[],[]
2,43472504,NaN,NaN,ADDO,ADDO,ADDO RD,1,NaN,NaN,NaN,NaN,-33.542736,25.665624,[],[]
3,43472284,NaN,NaN,ADDO,ADDO,R335 RD,113254,NaN,NaN,NaN,NaN,-33.551408,25.68969,"[43472289, 43472327, 43472286]","[43472289, 43472327, 43472286]"
4,43472289,NaN,NaN,ADDO,ADDO,R335 RD,113296,NaN,NaN,NaN,NaN,-33.551408,25.68969,"[43472284, 43472327, 43472286]","[43472284, 43472327, 43472286]"
5,43472327,NaN,NaN,ADDO,ADDO,R335 RD,937,NaN,NaN,NaN,NaN,-33.551408,25.68969,"[43472284, 43472289, 43472286]","[43472284, 43472289, 43472286]"
6,43472503,NaN,NaN,ADDO,ADDO,SLAGBOOM FARM ST,1,NaN,NaN,NaN,NaN,-33.374949,25.668648,[],[]
7,43472251,NaN,NaN,ADDO,ADDO,ADDO PATERSON MAIN RD,11359,NaN,NaN,NaN,NaN,-33.546711,25.690003,[],[]
8,43472286,NaN,NaN,ADDO,ADDO,R335 RD,113271,NaN,NaN,NaN,NaN,-33.551408,25.68969,"[43472284, 43472289, 43472327]","[43472284, 43472289, 43472327]"
9,43472736,NaN,NaN,ADDO,VALENCIA,IVY CT,962,NaN,NaN,NaN,NaN,-33.551963,25.699362,[],[]
10,43473548,NaN,NaN,ADDO,NOMATHAMSANQA,NOMATHAMSANQA RD,291,NaN,NaN,NaN,NaN,-33.525331,25.7097,[43474021],[43474021]
11,51823456,NaN,NaN,ADDO,NOMATHAMSANQA,STAND ST,1637,NaN,NaN,NaN,NaN,-33.529437,25.71402,[],[]
12,43474021,NaN,NaN,ADDO,NOMATHAMSANQA,NOMATHAMSANQA RD,2465,NaN,NaN,NaN,NaN,-33.525331,25.7097,[43473548],[43473548]
13,48816742,NaN,NaN,ALMA,ALMA,MAIN RD,1,NaN,NaN,NaN,NaN,-24.487956,28.069961,[],[]
14,48816880,NaN,NaN,ALMA,RHENOSTERFONTEIN 465KQ,RANKINS PASS RD,5\465,NaN,NaN,NaN,NaN,-24.528814,27.914068,[48816878],[48816878]
15,48816878,NaN,NaN,ALMA,RHENOSTERFONTEIN 465KQ,RANKINS PASS RD,1\465,NaN,NaN,NaN,NaN,-24.528814,27.914068,[48816880],[48816880]
16,48817313,NaN,NaN,APEL,APEL,APEL RD,12,NaN,NaN,NaN,NaN,-24.42306,29.769659,[48817436],[48817436]
17,54947350,NaN,NaN,APEL,APEL,APEL RD,1,NaN,NaN,NaN,NaN,-24.414712,29.748589,[77810186],[]
18,48817436,NaN,NaN,APEL,APEL,APEL RD,223,NaN,NaN,NaN,NaN,-24.42306,29.769659,[48817313],[48817313]
19,77810186,NaN,NaN,APEL,APEL,MASHA CLINIC ST,TAN1,NaN,NaN,NaN,NaN,-24.414286,29.746682,[54947350],[]
20,51349647,NaN,NaN,APEL,APEL,APEL RD,12B,NaN,NaN,NaN,NaN,-24.411487,29.767429,[],[]
21,52546649,NaN,NaN,APEL,MASHUNG,MASHUNG RD,12B,NaN,NaN,NaN,NaN,-24.430789,29.798093,[],[]
22,48826330,NaN,NaN,APEL,MASHUNG,MASHUNG RD,515,NaN,NaN,NaN,NaN,-24.420654,29.788904,[],[]
23,53000315,NaN,NaN,APEL,TSWAING,TSWAING_2 ST,103,NaN,NaN,NaN,NaN,-24.475377,29.67542,[],[]
24,77817268,NaN,NaN,APEL,GA NKOANA,NKOARIA CLINIC ST,1,NaN,NaN,NaN,NaN,-24.409714,29.789436,[],[]
25,48817288,NaN,NaN,APEL,GA NKOANA,GA NKOANA RD,TAN 1,NaN,NaN,NaN,NaN,-24.422314,29.78592,[],[]
26,48829740,NaN,NaN,APEL,MOHLALETSI,STAND RD,TAN1,NaN,NaN,NaN,NaN,-24.445608,29.862212,[],[]
27,77816343,NaN,NaN,APEL,MOHLALETSI,MOHLALETSI CLINIC ST,1,NaN,NaN,NaN,NaN,-24.481804,29.875185,[],[]
28,77771682,NaN,NaN,APEL,GA MANKOPANE,NEHABELENG CLINIC ST,1,NaN,NaN,NaN,NaN,-24.432859,29.826804,[],[]
29,48831607,NaN,NaN,APEL,GA NTSHABELENG,GA NTSHABELENG RD,TAN1,NaN,NaN,NaN,NaN,-24.440123,29.799162,[],[]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
970,78120028,NaN,NaN,AKASIA,ROSSLYN,ERNEST OPPENHEIMER ST,513,NaN,NaN,NaN,NaN,-25.625228,28.076915,"[52339754, 47030875]",[52339754]
971,50530717,NaN,NaN,AKASIA,ROSSLYN,FRANS DU TOIT ST,76,NaN,NaN,NaN,NaN,-25.632834,28.095245,[],[]
972,47030875,NaN,NaN,AKASIA,ROSSLYN,ERNEST OPPENHEIMER ST,56,NaN,NaN,NaN,NaN,-25.629549,28.076141,[78120028],[]
973,47032031,NaN,NaN,AKASIA,ROSSLYN X 1,MARTINUS RAS ST,510,NaN,NaN,NaN,NaN,-25.627726,28.097498,"[47032016, 47032088, 47032099]",[]
974,47031981,NaN,NaN,AKASIA,ROSSLYN X 1,GAIGHER ST,83,NaN,NaN,NaN,NaN,-25.619101,28.087,"[47032101, 47031982]",[]
975,47032016,NaN,NaN,AKASIA,ROSSLYN X 1,KOTZENBERG ST,110,NaN,NaN,NaN,NaN,-25.625745,28.096538,"[47032031, 47032088, 47032099, 47031960, 47031...",[]
976,47032101,NaN,NaN,AKASIA,ROSSLYN X 1,PIET RAUTENBACH ST,93,NaN,NaN,NaN,NaN,-25.61744,28.09118,[47031981],[]
977,47032088,NaN,NaN,AKASIA,ROSSLYN X 1,PIET RAUTENBACH ST,6962,NaN,NaN,NaN,NaN,-25.624727,28.095775,"[47032031, 47032016, 47032099, 47031960, 47031...",[]
978,47032001,NaN,NaN,AKASIA,ROSSLYN X 1,KITSHOFF ST,492,NaN,NaN,NaN,NaN,-25.62374,28.07855,[],[]
979,47032099,NaN,NaN,AKASIA,ROSSLYN X 1,PIET RAUTENBACH ST,91,NaN,NaN,NaN,NaN,-25.625639,28.09499,"[47032031, 47032016, 47032088, 47031960, 47031...",[]
980,47031960,NaN,NaN,AKASIA,ROSSLYN X 1,DE WAAL ST,2,NaN,NaN,NaN,NaN,-25.623385,28.095391,"[47032016, 47032088, 47032099, 47031957]",[47031957]
981,47031982,NaN,NaN,AKASIA,ROSSLYN X 1,GAIGHER ST,84,NaN,NaN,NaN,NaN,-25.6178,28.085899,[47031981],[]
982,47031975,NaN,NaN,AKASIA,ROSSLYN X 1,GAIGHER ST,2,NaN,NaN,NaN,NaN,-25.624173,28.088859,[],[]
983,47031957,NaN,NaN,AKASIA,ROSSLYN X 1,DE WAAL ST,111\2,NaN,NaN,NaN,NaN,-25.623501,28.0954,"[47032016, 47032088, 47032099, 47031960]",[47031960]
984,77623601,NaN,NaN,AKASIA,ROSSLYN X 2,HELIUM RD,442,NaN,NaN,NaN,NaN,-25.614355,28.077179,[],[]
985,47034082,NaN,NaN,AKASIA,CLARINA X 19,DAAN DE WET NEL DR,5,NaN,NaN,NaN,NaN,-25.648086,28.128508,[],[]
986,47032176,NaN,NaN,AKASIA,ROSSLYN EAST,GREYLING CT,29,NaN,NaN,NaN,NaN,-25.634699,28.098457,[],[]
987,47032275,NaN,NaN,AKASIA,THE ORCHARDS,GARDEN RD,19,NaN,NaN,NaN,NaN,-25.643166,28.102065,[],[]
988,47033530,NaN,NaN,AKASIA,KLERKSOORD AH,WILLEM CRUYWAGEN AV,71,NaN,NaN,NaN,NaN,-25.637855,28.128555,[],[]
989,47034846,NaN,NaN,AKASIA,KAREN PARK X 9,HEINRICH AV,340,NaN,NaN,NaN,NaN,-25.672834,28.110537,[47034844],[47034844]
990,47034844,NaN,NaN,AKASIA,KAREN PARK X 9,HEINRICH AV,339,NaN,NaN,NaN,NaN,-25.672834,28.110537,[47034846],[47034846]
991,47034913,NaN,NaN,AKASIA,NINA PARK X 23,GRAFENHEIM ST,158,NaN,NaN,NaN,NaN,-25.683097,28.149781,[],[]
992,52403998,NaN,NaN,AKASIA,KAREN PARK X 36,HEINRICH AV,904,NaN,NaN,NaN,NaN,-25.670933,28.106832,[],[]
993,47036037,NaN,NaN,AKASIA,THE ORCHARDS X 3,JENSEN RD,4,NaN,NaN,NaN,NaN,-25.65168,28.103139,[],[]
994,47037765,NaN,NaN,AKASIA,WITFONTEIN 301IR,WATERBOK ST,401,NaN,NaN,NaN,NaN,-25.664867,28.144078,[],[]
995,47037691,NaN,NaN,AKASIA,WITFONTEIN 301IR,BRITS RD,158,NaN,NaN,NaN,NaN,-25.663617,28.150063,[],[]
996,47037827,NaN,NaN,AKASIA,KLERKSOORD AH X 2,WILLEM CRUYWAGEN AV,132,NaN,NaN,NaN,NaN,-25.633336,28.142361,[],[]
997,55033404,NaN,NaN,AKASIA,THE ORCHARDS X 11,GILLESPIE RD,4,NaN,NaN,NaN,NaN,-25.648392,28.091756,[],[]
998,53672996,NaN,NaN,AKASIA,THERESA PARK X 25,WATERBOK ST,299,NaN,NaN,NaN,NaN,-25.676751,28.142789,[],[]
999,42985603,NaN,NaN,AMALIA,AMALIA,DE BRUIN ST,198,NaN,NaN,NaN,NaN,-27.246502,25.049034,[],[]