# Address Enricher Project

# Index

1. [Proclamation](1.-proclamation)
2. [Installations & Imports](#2)
3. [Configuration File](#3)
4. [Import Data](#4)
5. [Table Configuration](#5)
6. [Google places API class creation](#6)
7. [Extract Values From Results](#7)
8. [Fill Missing Values](#8)
9. [Check Accuracy](#9)
10. [Neighbours](#10)
11. Maps
12. Export table


# 1. Proclamation


<a id="1"></a>

This Notebook was developed for the purpose of enriching an address dataset of any form, shape or size, with a dependency on having a configuration file to manage importing the data, table transformation, distance parameter and exporting of the data. A secondary function of this notebook is to cluster neighbours of a certain site either by distance or by the same block, along with a map to visualize these neighbours. Google MAps APIs are used to develop these functions.

[Return to index](#index)

# 2. Installations & Imports

Before anything else we need to ensure that we have the necessary packages imported and installed to run this notebook.

In [1]:
# !pip install googlemaps

In [2]:
# !pip install google

In [3]:
# !pip install geopy

In [4]:
# !pip install gmaps

In [5]:
# !pip install pyarrow

In [6]:
# !jupyter nbextension enable --py gmaps

In [7]:
# !jupyter nbextension enable --py widgetsnbextension

In [1]:
import numpy as np
import pandas as pd
import os
import googlemaps
from google.cloud import bigquery
import json, collections
import string
import requests
import geopy.distance
import gmaps
import pyarrow

Now that we have all the necessary package dependencies imported we have to load in and make sure our config file is how we want it.

<a id="3"></a>

# 3. Configuration File

The configuration file is a json file that gets loaded into the notebook as a dictionary

In [2]:
def load_config(file):
    with open(file) as conf:
        config = json.load(conf, object_pairs_hook=collections.OrderedDict)
    return config

In [3]:
file = input("Input json file to configure Notebook ")

Input json file to configure Notebook conf.json

In [4]:
config = load_config(file)
config

OrderedDict([('file', ''),
             ('credentials', 'bcx-insights-6dfb9fabfb5b.json'),
             ('project_ID', 'bcx-insights'),
             ('table_ID', 'bcx_networkhealth.bcxlocation_20190701_00'),
             ('change_column_names', 'YES'),
             ('ID', 'Am_Id'),
             ('Country', ''),
             ('Province', ''),
             ('City', 'G_City'),
             ('Suburb', 'G_Suburb'),
             ('Street', 'G_Street_Name'),
             ('Number', 'G_Str_Num'),
             ('Postal_Code', ''),
             ('Building', ''),
             ('Floor', ''),
             ('Room', ''),
             ('Latitude', 'Lat'),
             ('Longitude', 'Lon'),
             ('null', '(blank)'),
             ('enricher_switch', 'ON'),
             ('accuracy_switch', 'ON'),
             ('distance_dict_switch', 'ON'),
             ('neighbours_switch', 'ON'),
             ('Dict_key', 'City'),
             ('Max_Distance(km)', 2),
             ('keep_place_ids', 'NO'),
             ('neighbours_map_switch', 'OFF'),
             ('directions_map_switch', 'OFF'),
             ('Map_Distance(km)', 5),
             ('Map_site', 42326671),
             ('export_switch', 'OFF'),
             ('add_meta_data', 'YES'),
             ('export_name',
              'bcx_networkhealth.bcxlocation_20190701_00_enriched'),
             ('export_path', 'Desktop/PROJECT')])

Our first 3 keys are used to load in the data and the last 2 are used to export the data. Keys from 'ID' to 'null' are used to transfrom the table to the required schema. Max distance key is used to specify the maximum distance for clustering nearest neighbours. See the configuration file user guide for more details on how to use the configuration file and how it affects this notebook: .....

# 4. Import Data

This function has four ways to read in data from different sources/extensions and selects one of the ways based on the config file

In [5]:
def df_read_files(config):
    
    #store filename in secure envirnment
    filename = config['file']
    
    
    #if and elifs determining which source the dataframe will be created from
    if '.parquet' in filename:
        data = pd.read_parquet(filename, engine = 'pyarrow')
    elif '.csv' in filename:
        data = pd.read_csv(filename)
    elif '.json' in filename:
        if config['project_ID'] == '':
            data = pd.read_json(filename)
    else: 
        os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = config['credentials']
        project_id = config['project_ID']
        bigquery_client = bigquery.Client(project = project_id)
        table_id = config['table_ID']
        QUERY = "SELECT * FROM " +  "`" + table_id + "`"
        job = bigquery_client.query(QUERY)
        data = job.to_dataframe()
        
    return data

df = df_read_files(config)

In [6]:
df.tail()

,Am_Id,Lat,Lon,G_City,G_Suburb,G_Street_Name,G_Str_Num,Loc_Region,Fibre_Status,Max_Cbr_Speed,Me_Status,Me_Classification,Mt_Lte
24011,49109521,-26.764218,26.420475,HARTBEESFONTEIN (NORTH WEST),HARTBEESFONTEIN,EENHEID VOORTRKKER RD,61,NER,(blank),(blank),WORKING,Inter-city,(blank)
24012,49108597,-25.103824,30.475046,HARTBEESFONTEIN (NORTH WEST),HARTBEESFONTEIN,DU TOIT ST,1,NER,(blank),(blank),WORKING,Inter-city,(blank)
24013,49109111,-26.756583,26.431264,HARTBEESFONTEIN (NORTH WEST),HARTBEESFONTEIN,MEULE ST,1,NER,(blank),(blank),WORKING,Inter-city,(blank)
24014,49109535,-26.765741,26.420132,HARTBEESFONTEIN (NORTH WEST),HARTBEESFONTEIN,Z..EENHEID ST,92,NER,(blank),(blank),WORKING,Inter-city,(blank)
24015,49109379,-26.759122,26.42373,HARTBEESFONTEIN (NORTH WEST),HARTBEESFONTEIN,EENHEID VOORTRKKER RD,113,NER,(blank),(blank),WORKING,Inter-city,(blank)

# 5. Table Configuration

Now that the data is loaded into a dataframe, the dataframe must be configured to the desired schema.

In [7]:
def configure_table(df, config):
    '''This function uses a configuration file and tunes/formats the input DataFrame to a desired Format
    that can be used to enrich the address dataset and get enighbours for each site
    '''
    
    df = df.copy() 
    df.replace(config['null'], np.nan, inplace=True) 
    
    input_cols = df.columns.to_list()
    conf_vals = list(config.values())
    
    meta_cols = []
    #drop unwanted columns
    for col in input_cols:
        if col not in conf_vals:
            meta_cols.append(col)
    
    # Create dictionary to store data and metadata separately
    data = {}
    # Store metadata in 'meta_data' key of the dictionary as its value
    data['meta_data'] = pd.DataFrame(df[meta_cols])
        
            
    #Get key value pairs in dictionary in a tuple format
    pairs = list(config.items())[5:18]
    
    output_cols = []
    #For loop to either rename columns, create new and fill with empty string
    for i in pairs:
        
        if i[1] in input_cols:
            
            if config['change_column_names'] == 'YES':
                df.rename(columns={i[1]:i[0]}, inplace=True)
                output_cols.append(i[0])
            elif config['change_column_names'] == 'NO':
                output_cols.append(i[1])
                
        elif i[1] == '':
            df[i[0]] = np.nan
            output_cols.append(i[0])
                      
    # Make sure all nans are changed to empty strings        
    #df.replace(np.nan, '', inplace=True)
    
    # Store data being used in this notebook for enriching in the 'data' key of the dictionary as its value
    data['data'] = df[output_cols]
    
    
    return data

In [8]:
data_dic = configure_table(df, config)

In [9]:
data_dic['meta_data'].head()

  Loc_Region Fibre_Status Max_Cbr_Speed Me_Status Me_Classification Mt_Lte
0        NER          NaN          1000     BUILD        Intra-city    NaN
1        NER          NaN           NaN         N               NaN    NaN
2         SR          NaN           NaN   WORKING        Inter-city    NaN
3         SR          NaN           NaN   WORKING        Inter-city    NaN
4         SR          NaN           NaN   WORKING        Inter-city    NaN

In [10]:
data_dic['data'].head()

,ID,Country,Province,City,Suburb,Street,Number,Postal_Code,Building,Floor,Room,Latitude,Longitude
0,43337015,NaN,NaN,REX,WATERKLOOF 305JQ,WATERKLOOF RD,1,NaN,NaN,NaN,NaN,-25.763962,27.279501
1,44486174,NaN,NaN,VAL,VAL,SMITH ST,6,NaN,NaN,NaN,NaN,-26.796704,28.93696
2,43472504,NaN,NaN,ADDO,ADDO,ADDO RD,1,NaN,NaN,NaN,NaN,-33.542736,25.665624
3,43472284,NaN,NaN,ADDO,ADDO,R335 RD,113254,NaN,NaN,NaN,NaN,-33.551408,25.68969
4,43472289,NaN,NaN,ADDO,ADDO,R335 RD,113296,NaN,NaN,NaN,NaN,-33.551408,25.68969

In [11]:
quant = input("WHOLE or SUBSET of data: ")

WHOLE or SUBSET of data: SUBSET

In [12]:
if quant == 'SUBSET':
    rows = input("Amount of rows: ")
    dfc = data_dic['data'].copy().head(int(rows))

Amount of rows: 20

# 6. Google places API class creation

Class GooglePlaces contains a constructor and two instance methods. The constructor takes in the API key when an instance of the class is created. When the method get_place_details_using_address() is called, it uses the address passed as an argument to make a geocode API request. When the method get_place_details_using_coordinates() is called, it uses the coordinates passed as an argument parameter to make a geocode API request. Both these methods returns the API results, if none exists, it returns an empty list.

In [13]:
class GooglePlaces(object):
        
    #constructor
    def __init__(self, apiKey):
        super(GooglePlaces, self).__init__()
        self.apiKey = apiKey

    # method
    def get_place_details_using_address(self,address):
        endpoint_url = "https://maps.googleapis.com/maps/api/geocode/json"

        # parameters 
        params = {
            'region' : 'za',
            'address': address,
            'key': self.apiKey

        }

        # api request
        res = requests.get(endpoint_url, params = params)
        res =  json.loads(res.content)

        # create list
        empty = []

        # checks results
        # if no results, return empty list
        if len(res['results']) == 0:
            return empty
        # else, return results
        else:
            results = res['results'][0]
            return results

    # method
    def get_place_details_using_coordinates(self,coords):
        endpoint_url = "https://maps.googleapis.com/maps/api/geocode/json"

        # parameters
        params = {
            'region' : 'za',
            'latlng': coords,
            'key': self.apiKey
        }
        res = requests.get(endpoint_url, params = params)
        res =  json.loads(res.content)
        empty = []
        if len(res['results']) == 0:
            return empty
        else:
            results = res['results'][0]
            return results
gp = GooglePlaces('AIzaSyDL9k9T2RcmXn2y5YtiGA_6jRa-boFzS-o')

# 7. Extract Values From Results

Function get_values takes in a dictionary of dictionaries containing the results of the API request. It loops through the values given in the dictionary containing the address_components of the API results and stores them in a new dictionary. Values are then extracted from the new dictionary, inserted into a list in a specific order then returned.

In [14]:
def get_values(d):
    
    """
    This function takes the results from the API request, searches it then extracts certain values and returns a list containing 
    these values in a specific order.
    
    """
   
    # new dictionary
    values = {}
        
    # length of the address components dictionary in the API results
    count = len(d['address_components']) - 1

    
    #loop through the items in address components to create a new dictionary
    while count >= 0:
        
        values.update({d['address_components'][count]['types'][0]: d['address_components'][count]['long_name']})
        count = count -1

    # create a list
    results = []
    
    #get country from dictionary and add to list, where no value exists, nan is added to the list
    results.append(values.get('country',np.nan))
    
    #get province from dictionary and add to list, where no value exists, nan is added to the list
    results.append(values.get('administrative_area_level_1',np.nan))
    
    #get city from dictionary and add to list, where no value exists, nan is added to the list
    if 'administrative_area_level_2' in values.keys() and 'locality' in values.keys():
        results.append(values.get('locality',np.nan))
    else:
        results.append(values.get('administrative_area_level_2',np.nan))
    #get suburb from dictionary and add to list, where no value exists, nan is added to the list
    results.append(values.get('political',np.nan))
    
    #get street from dictionary and add to list, where no value exists, nan is added to the list
    results.append(values.get('route',np.nan))
    
    #get number from dictionary and add to list, where no value exists, nan is added to the list
    results.append(values.get('street_number',np.nan))
    
    #get code from dictionary and add to list, where no value exists, nan is added to the list
    results.append(values.get('postal_code',np.nan)) 

    #get lat from dictionary and add to list, where no value exists, nan is added to the list
    results.append(d['geometry']['location']['lat'])
    
    #get lng from dictionary and add to list, where no value exists, nan is added to the list
    results.append(d['geometry']['location']['lng'])
       
    #get place id
    results.append(d['place_id'])
    
    # return list
    return results

# 8. Fill Missing Values

Function fill_missing takes parameters dataframe and instance. 'dataframe' is a dataframe with the required format and 'instance' is an instance of the class GooglePlaces containing the API key in use. This function loops through every row of the dataframe and does the following with each iteration:

##### 1.Splits the columns

The row is split into two parts: one containing all the elements of an address and the other the coordinates of the address. 

##### 2.Checks which values exists in the row and calls the appropriate API requests methods. 
Certain values of the address cannot be null and if this condition is met, all the available address information is passed as a string when method get_place_details_using_address() is called. If the condition is not met, method get_place_details_using_coordinates() is called and uses the coordinates. When none of these values exist (null) the row is skipped by incrementing the index and the loop is exited.

##### 3.Checks the results of the API request
When an empty list is returned from get_place_details_using_address(), get_place_details_using_coordinates() is called, if empty lists are returned from both methods, the row is skipped by incrementing the index and the loop is existed.
When there are results for either methods (get_place_details_using_address() or get_place_details_using_coordinates()), function get_values is called and returns a list of values in a specific format.

##### 4.Compares values in the row to the values in the list
First the list is checked for null values and is replaced with the values of the row. Then the row is checked for null values and mismatched values (values that does not match the values in the list) and is replaced accordingly.

##### 5.Updates dataframe
The row is then updated in the dataframe. The index is incremented and when the loop is completed, the dataframe is returned.

In [15]:
list(df.columns)[10:1:-1]

['Me_Status',
 'Max_Cbr_Speed',
 'Fibre_Status',
 'Loc_Region',
 'G_Str_Num',
 'G_Street_Name',
 'G_Suburb',
 'G_City',
 'Lon']

In [17]:
def fill_missing(dataframe,instance):
    
    # enricher switch enabled by following if statement
    if config['enricher_switch'] == 'OFF':
        return None
    
    elif config['enricher_switch'] == 'ON':
        dataframe = dataframe.copy()
        
        # create column to store the place_id 
        dataframe['Place_ID'] = ""

        #initialise control variable
        index = 0

        
        cols = dataframe.columns.tolist()


        while index < len(dataframe):

            row = dataframe.copy().iloc[index]

            # split dataframe
            #address elements
            address_df = row[cols[0:11]]
            #coordinates
            coordinates_df = row[cols[11:13]]

            # create a list of columns in a specific order
            add_df_cols = cols[10:0:-1]


            # check if number and street or room and building has values
            if pd.notnull(address_df[cols[6]]) and pd.notnull(address_df[cols[5]]) or pd.notnull(address_df[cols[10]]) and pd.notnull(address_df[cols[8]]) or pd.notnull(address_df[cols[5]]) and pd.notnull(address_df[cols[8]]):

            #get existing values from the address df and store in a string

                address  = ""

                #loop through columns in the address df
                for col in add_df_cols:
                    #where values are not null, add it to address string
                    if pd.notnull(address_df[col]):
                        address += str(address_df[col])+" "

                # call get_details function to make a request to the api
                results = instance.get_place_details_using_address(address)

                # check api returned results
                if len(results) > 0:

                    #format results of the geocode api request by calling get_values
                    values = get_values(results)

                    #inserts original values from the dataframe into the list
                    values.insert(0,row[cols[0]])
                    values.insert(8,row[cols[8]])
                    values.insert(9,row[cols[9]])
                    values.insert(10,row[cols[10]])
                    row['Place_ID'] = values[-1]

                #if api results emptry, use coordinates
                elif pd.notnull(coordinates_df[cols[11]]) and pd.notnull(coordinates_df[cols[12]]):

                    #get coordinates from dataframe and store as string
                    coordinates = str(coordinates_df[cols[11]]) + "," + str(coordinates_df[cols[12]])

                    # call get_details function to make a request to the api
                    results = instance.get_place_details_using_coordinates(coordinates)

                    # check api returned results
                    if len(results) > 0:

                    #format results of the geocode api request by calling get_values
                        values = get_values(results)

                        #inserts original values from the dataframe into the list
                        values.insert(0,row[cols[0]])
                        values.insert(8,row[cols[8]])
                        values.insert(9,row[cols[9]])
                        values.insert(10,row[cols[10]])
                        row['Place_ID'] = values[-1]

                    #if api results empty, skip row and exist loop
                    else:
                        index += 1
                        break
                else:
                    index +=1
                    break

            # if street or room and building empty, use coordinates
            elif pd.notnull(coordinates_df[cols[11]]) and pd.notnull(coordinates_df[cols[12]]):

                #get coordinates from dataframe and store as string
                coordinates = str(coordinates_df[cols[11]]) + "," + str(coordinates_df[cols[12]])

                # call get_details function to make a request to the api
                results = instance.get_place_details_using_coordinates(coordinates)

                # check api returned results
                if len(results) > 0:

                    #format results of the geocode api request by calling get_values
                    values = get_values(results)


                    values.insert(0,row[cols[0]])
                    values.insert(8,row[cols[8]])
                    values.insert(9,row[cols[9]])
                    values.insert(10,row[cols[10]])
                    row['Place_ID'] = values[-1]

               #if api results empty, skip row and exist loop
                else:
                    index +=1
                    break
            # if address elements empty and coordinates empty, skip row and exist loop       
            else:
                index +=1
                break

            #create dataframe with API results
            frame = pd.DataFrame(columns = cols, data = [values])

            row_2 = frame.copy().iloc[0]


            for col in cols:

                # check for nulls in the results of api request and change it to the value column
                if pd.isnull(row_2[col]):
                    row_2[col] = row[col]

                # check for nulls and mismatch values in dataframe row and replace wiith results of api 
                if row[col] != row_2[col]:
                    row[col] = row_2[col]

            #update row in dataframe
            dataframe.loc[index] = row

            #increment index
            index += 1

        return dataframe
dff = fill_missing(dfc,gp)

In [18]:
dff.head(20)

,ID,Country,Province,City,Suburb,Street,Number,Postal_Code,Building,Floor,Room,Latitude,Longitude,Place_ID
0,43337015,South Africa,Gauteng,Pretoria,Waterkloof,Waterkloof Road,1,0011,NaN,NaN,NaN,-25.7738,28.2392,EjFXYXRlcmtsb29mIFJkLCBXYXRlcmtsb29mLCBQcmV0b3...
1,44486174,South Africa,Mpumalanga,Eastvaal District Council,Val,Smith Street,6,2425,NaN,NaN,NaN,-26.7983,28.94,ChIJLfGYQ0Nb6x4RV6S5KGXs2G0
2,43472504,South Africa,Eastern Cape,Addo,Addo,Main Road,1,6105,NaN,NaN,NaN,-33.5548,25.6866,ChIJQ61lfp_MZB4RX_HbJzomT94
3,43472284,South Africa,Eastern Cape,Addo,ADDO,R335,113254,NaN,NaN,NaN,NaN,-33.5254,25.6918,EhhSMzM1LCBBZGRvLCBTb3V0aCBBZnJpY2EiLiosChQKEg...
4,43472289,South Africa,Eastern Cape,Addo,ADDO,R335,113296,NaN,NaN,NaN,NaN,-33.5254,25.6918,EhhSMzM1LCBBZGRvLCBTb3V0aCBBZnJpY2EiLiosChQKEg...
5,43472327,South Africa,Eastern Cape,Addo,ADDO,R335,937,NaN,NaN,NaN,NaN,-33.5254,25.6918,EhhSMzM1LCBBZGRvLCBTb3V0aCBBZnJpY2EiLiosChQKEg...
6,43472503,South Africa,Eastern Cape,Addo,Addo,SLAGBOOM FARM ST,1,6105,NaN,NaN,NaN,-33.5465,25.69,ChIJPwR1L2HLZB4Rlq5WGdeDZHc
7,43472251,South Africa,Eastern Cape,Addo,ADDO,Main Road,11359,NaN,NaN,NaN,NaN,-33.5299,25.7127,EhtNYWluIFJkLCBBZGRvLCBTb3V0aCBBZnJpY2EiLiosCh...
8,43472286,South Africa,Eastern Cape,Addo,ADDO,R335,113271,NaN,NaN,NaN,NaN,-33.5254,25.6918,EhhSMzM1LCBBZGRvLCBTb3V0aCBBZnJpY2EiLiosChQKEg...
9,43472736,South Africa,Eastern Cape,Addo,Addo,IVY CT,962,6105,NaN,NaN,NaN,-33.5267,25.7117,ChIJOc9dE5nMZB4RA-ydd863wRI
10,43473548,South Africa,Eastern Cape,Addo,Addo,NOMATHAMSANQA RD,291,6105,NaN,NaN,NaN,-33.5267,25.7117,ChIJOc9dE5nMZB4RA-ydd863wRI
11,51823456,South Africa,Eastern Cape,Addo,Addo,STAND ST,1637,6105,NaN,NaN,NaN,-33.5267,25.7117,ChIJOc9dE5nMZB4RA-ydd863wRI
12,43474021,South Africa,Eastern Cape,Addo,Addo,NOMATHAMSANQA RD,2465,6105,NaN,NaN,NaN,-33.5267,25.7117,ChIJOc9dE5nMZB4RA-ydd863wRI
13,48816742,South Africa,Western Cape,Cape Town,Rosebank,Main Road,1,7700,NaN,NaN,NaN,-33.9538,18.4723,ChIJeQ8E_yBdzB0R4hTjIj-txVA
14,48816880,South Africa,Limpopo,Rankin's Pass,RHENOSTERFONTEIN 465KQ,RANKINS PASS RD,5\465,NaN,NaN,NaN,NaN,-24.5333,27.9167,ChIJQzYAr9PXvh4Rvlxg5v4H7YI
15,48816878,South Africa,Limpopo,Rankin's Pass,RHENOSTERFONTEIN 465KQ,RANKINS PASS RD,1\465,NaN,NaN,NaN,NaN,-24.5333,27.9167,ChIJQzYAr9PXvh4Rvlxg5v4H7YI
16,48817313,United States,Pennsylvania,Oreland,APEL,Apel Avenue,12,19075,NaN,NaN,NaN,40.1171,-75.1799,ChIJSXYPd166xokRKm66fi3Gu58
17,54947350,South Africa,Limpopo,Apel,APEL,APEL RD,1,0739,NaN,NaN,NaN,-24.4209,29.7527,ChIJd7Ag2_AUwR4RdeVbixiZg08
18,48817436,South Africa,Limpopo,Ga-Nkoana,APEL,Unnamed Road,223,NaN,NaN,NaN,NaN,-24.4231,29.7703,ChIJjbcLGMEUwR4RQoBd-oNj7vc
19,77810186,South Africa,Limpopo,Apel,APEL,Unnamed Road,TAN1,0739,NaN,NaN,NaN,-24.4145,29.7468,ChIJ6wZmx_4UwR4RfnCzXlcKs00

# 9. Check Accuracy

Function accuracy_check compares values in the dataframe to the results of the geocoding API to see if theyre the same. The function loops through every row in the dataframe and does the following with each iteration:

1. Gets address and coordinates
Builds an address and coordinates string using existing values in the dataframe.

2. API calls
Calls the both methods and passes the appropriate string

3. Updates values
Checks the results of the API and updates the row accordingly

4. Compares values
Creates lists of the values in the dataframe and the results of the API and checks if they match or not. New columns are created to store this result.

5. Prints details
Results are stored and in a dictionary and printed

In [21]:
def check_accuracy(dataframe,instance):

    # accuracy check switch enabled by following if statement
    if config['accuracy_switch'] == 'OFF':
        return None
    
    elif config['accuracy_switch'] == 'ON':
        cols = list(dataframe.columns)
        
        #initialise index
        index = 0

        #get column names and store in list
        cols = dataframe.columns.tolist()

        # create new dataframe
        frame = pd.DataFrame(columns = cols)

        # new dict
        d = {}

        # initialis count variable
        count_empty = 0

        while index < len(dataframe): 

            row = dataframe.copy().iloc[index]

            # split dataframe
            # address elements
            address_df = row[cols[0:11]]

            # coordinates
            coordinates_df = row[cols[11:13]]

            #get coordinates from dataframe and store as string
            coordinates = str(coordinates_df[cols[11]]) + "," + str(coordinates_df[cols[12]])

            # create a list of columns in a specific order
            add_df_cols = cols[10:0:-1]

            address  = ""

            #loop through columns in the address df
            for col in add_df_cols:
                #where values are not null, add it to address string
                if pd.notnull(address_df[col]):
                    address += str(address_df[col])+" "       

            # call get_details method to make a request to the api using address
            results = instance.get_place_details_using_address(address)


            # call get_details method to make a request to the api using coordinates
            res = instance.get_place_details_using_coordinates(coordinates)

            # check if api results empty and increment counter if true
            if len(res) == 0:
                count_empty += 1
            if len(results) == 0:
                count_empty += 1

            # check if both api calls have results
            if len(results) > 0 and len(res) > 0:

                # call get_values function for both api results
                values = get_values(results)
                vals = get_values(res)

                # fill row with the results
                row[cols[11]] = values[7]
                row[cols[12]] = values[8]
                row[cols[6]] = vals[5]
                row[cols[5]] = vals[4]
                row[cols[4]] = vals[3]
                row[cols[3]] = vals[2]
                row[cols[2]] = vals[1]
                row[cols[1]] = vals[0]
                row[cols[7]] = vals[6]


            elif len(results) > 0 and len(res) == 0:

                #get results of the geocode api request
                values = get_values(results)


                row[cols[11]] = values[7]
                row[cols[12]] = values[8]
                row[cols[6]] = ""
                row[cols[5]] = ""
                row[cols[4]] = ""
                row[cols[3]] = ""
                row[cols[2]] = ""
                row[cols[1]] = ""
                row[cols[7]] = ""

            elif len(results) == 0 and len(res) > 0:

                vals = get_values(res)

                #fill row wiith available results
                row[cols[6]] = vals[5]
                row[cols[5]] = vals[4]
                row[cols[4]] = vals[3]
                row[cols[3]] = vals[2]
                row[cols[2]] = vals[1]
                row[cols[1]] = vals[0]
                row[cols[7]] = vals[6]
                row[cols[11]] = ""
                row[cols[12]] = ""

            else:

                # if no results avaiable, add unchaged row to new dataframe
                frame = frame.append(row,ignore_index=True)
                index += 1
                break

            #update row in dataframe
            frame = frame.append(row, ignore_index=True)

            # new column
            frame['Address_Match'] = ""

            #new column
            frame['Coordinates_Match'] = ""


            # copy row from both dataframes 
            row1 = dataframe.copy().iloc[index]
            row2 = frame.copy().iloc[index]

            cols_address = cols[1:8]
            cols_coordinates = cols[11:13]


            # create new lists for address values
            df_address_values = []
            f_address_values = []

            # save address values in a list
            for i in cols_address:
                df_address_values.append(row1[i])
                f_address_values.append(row2[i])

            # compare values in the two lists
            if df_address_values == f_address_values:
                frame['Address_Match'] = 'Match'
            else:
                frame['Address_Match'] = 'Mismatch'


            # create new lists for coordinate values
            df_coord_values = []
            f_coord_values = []

            # save coordinate values in a list
            for i in cols_coordinates:
                df_coord_values.append(row1[i])
                f_coord_values.append(row2[i])

            # compare values in the two lists   
            if df_coord_values == f_coord_values:
                frame['Coordinates_Match'] = 'Match'
            else:
                frame['Coordinates_Match'] = 'Mismatch'


            #increment index
            index += 1

        # filter dataframe where values match    
        a = frame[frame['Address_Match']== 'Match']
        b = frame[frame['Coordinates_Match']=='Match']

        # update dictionary
        # number of rows
        d.update({'# of rows': len(frame)})

        # number of empty api results
        d.update({'# of empty API results': count_empty})

        # address match %
        d.update({'Address Match %': a['Address_Match'].sum() / len(frame) *100})

        # coordinate match %
        d.update({'Coordinates Match %': b['Coordinates_Match'].sum() / len(frame) *100})

        # print dictionary
        print(d)
check_accuracy(dff,gp)

{'# of rows': 20, '# of empty API results': 0, 'Address Match %': 0.0, 'Coordinates Match %': 0.0}

# 10. Neighbours

In this part of the Notebook we are getting the neighbours of a site in question, either by distance or those on the same block. We start first by creating a dictionary of dictionaries with distances between sites in the same city

In [22]:
def city_distances_h(df):
    """
    
    Creates a dictionary with each unique City as a key, storing the harversine distance
    from each site to every other site in that respective City
    
    RUN THIS CELL ONCE for a subset/entire dataset to store the distances
    
    """
    
    # distance dictionary switch enabled by following if statement
    if config['distance_dict_switch'] == 'OFF':
        return None
    
    elif config['distance_dict_switch'] == 'ON':
        cols = list(df.columns)
    
        # Sort values by city
        df = df.sort_values(by=[cols[3]]).reset_index()
        cities = sorted(df[cols[3]].unique())
        dic3 = {}

        # Create a dictionary for each city.
        for city in cities:
            data = df[df[cols[3]] == city]
            data = data.reset_index()
            dic3[city] = {}

            # Nested for loop filling dictionary with values and keys (distances and IDs)
            for i in range(len(data)):
                start_point = (data[cols[11]][i], data[cols[12]][i]) # start
                dic3[city][data[cols[0]][i]] = {}

                for j in range(len(data)):
                    end_point = (data[cols[11]][j], data[cols[12]][j]) #end
                    distance = geopy.distance.great_circle(start_point, end_point) # distance calculation
                    distance = str(distance)
                    distance = round(float(distance[:-3]), 2)
                    dic3[city][data[cols[0]][i]][data[cols[0]][j]] = distance # dictionary imputing

        return dic3

In [23]:
dic3 = city_distances_h(dff)

Thereafter the neighbours within a distance are computed and same block neighbours are computed using those with zero distance, same building or same place_ID

In [26]:
def neighbours(r, df, dic):
    """
    
    Pulls the site ID's that fall within the given range r and adds them to a column
    of a dataframe. Also adds another column for sites on the same block if the given
    latitude and longitude for any sites are the same
    
    """

    # neighbours switch enabled by following if statement
    if config['neighbours_switch'] == 'OFF':
        return None
    
    elif config['neighbours_switch'] == 'ON':
    
        df = df.copy()
        cols = list(df.columns)
        print(cols)

        # Useful variables and lists
        city = df[cols[3]]
        ID = df[cols[0]]
        build = df[cols[8]]
        places = df[cols[-1]]
        d_nbs = []
        b_nbs = []

        # for loop iterating over dataframe
        for i in range(len(df)):
            x = dic[city[i]][ID[i]]
            y = build[i]
            z = places[i]

            ids = [key for key, val in x.items() if val <= r]

            blocks = [key for key, val in x.items() if val == 0]

            if build[i] != '':
                blocks2 = [Id for Id, building in zip(ID, build) if (building == y) and (Id not in blocks)]
                if len(blocks2) > 0:
                    blocks.append(blocks2)

            if places[i] != []:
                blocks3 = [Id for Id, place in zip(ID, places) if (place == z) and (Id not in blocks)]
                if len(blocks3) > 0:
                    blocks.append(blocks3)

            d_nbs.append(ids)
            b_nbs.append(blocks)

        df['Max_Distance'] = [i for i in d_nbs]
        df['Same_Block'] = [c for c in b_nbs if c != []]

        for i in range(len(df)):
            if ID[i] in df['Max_Distance'][i]:
                df['Max_Distance'][i].remove(ID[i])

        for i in range(len(df)):
            if ID[i] in df['Same_Block'][i]:
                df['Same_Block'][i].remove(ID[i])
                
        if config['keep_place_ids'] == "NO":
            df.drop('Place_ID', axis=1, inplace=True)

        return df

In [27]:
dfn = neighbours(config['Max_Distance(km)'], dff, dic3)

['ID', 'Country', 'Province', 'City', 'Suburb', 'Street', 'Number', 'Postal_Code', 'Building', 'Floor', 'Room', 'Latitude', 'Longitude', 'Place_ID']

In [28]:
dfn.head(10)

,ID,Country,Province,City,Suburb,Street,Number,Postal_Code,Building,Floor,Room,Latitude,Longitude,Max_Distance,Same_Block
0,43337015,South Africa,Gauteng,Pretoria,Waterkloof,Waterkloof Road,1,0011,NaN,NaN,NaN,-25.7738,28.2392,[],[]
1,44486174,South Africa,Mpumalanga,Eastvaal District Council,Val,Smith Street,6,2425,NaN,NaN,NaN,-26.7983,28.94,[],[]
2,43472504,South Africa,Eastern Cape,Addo,Addo,Main Road,1,6105,NaN,NaN,NaN,-33.5548,25.6866,[43472503],[]
3,43472284,South Africa,Eastern Cape,Addo,ADDO,R335,113254,NaN,NaN,NaN,NaN,-33.5254,25.6918,"[43472736, 43472289, 43472327, 43472251, 43472...","[43472289, 43472327, 43472286]"
4,43472289,South Africa,Eastern Cape,Addo,ADDO,R335,113296,NaN,NaN,NaN,NaN,-33.5254,25.6918,"[43472736, 43472284, 43472327, 43472251, 43472...","[43472284, 43472327, 43472286]"
5,43472327,South Africa,Eastern Cape,Addo,ADDO,R335,937,NaN,NaN,NaN,NaN,-33.5254,25.6918,"[43472736, 43472284, 43472289, 43472251, 43472...","[43472284, 43472289, 43472286]"
6,43472503,South Africa,Eastern Cape,Addo,Addo,SLAGBOOM FARM ST,1,6105,NaN,NaN,NaN,-33.5465,25.69,[43472504],[]
7,43472251,South Africa,Eastern Cape,Addo,ADDO,Main Road,11359,NaN,NaN,NaN,NaN,-33.5299,25.7127,"[43472736, 43472284, 43472289, 43472327, 43472...",[]
8,43472286,South Africa,Eastern Cape,Addo,ADDO,R335,113271,NaN,NaN,NaN,NaN,-33.5254,25.6918,"[43472736, 43472284, 43472289, 43472327, 43472...","[43472284, 43472289, 43472327]"
9,43472736,South Africa,Eastern Cape,Addo,Addo,IVY CT,962,6105,NaN,NaN,NaN,-33.5267,25.7117,"[43472284, 43472289, 43472327, 43472251, 43472...","[43474021, 43473548, 51823456]"

In [35]:
df[df['Am_Id']==43472736].loc(axis=1, columns=['City'])

TypeError: __call__() got an unexpected keyword argument 'columns'

# 11. Maps

In [28]:
gmaps.configure(api_key='AIzaSyDIAO3gmSqPaKqSOVB0OChAurgVC5TwGWc')

In [29]:
def single_id_map(r, ID, df, dictionary):
    
    # neighbours map switch enabled by following if statement
    if config['neighbours_map_switch'] == 'OFF':
        return None
    
    elif config['neighbours_map_switch'] == 'ON':
        cols = list(df.columns)
    
        df[[cols[11], cols[12]]].astype(float)
        dic = dictionary
        sites = []
        city = df[df[cols[0]]==ID].loc([cols[3]])
        x = dic[city][ID]
        ids = [key for key, val in x.items() if val <= r]
        sites.append(ids)

        coords = []
        indexes = []
        for s in sites[0]:
            row = df[df[cols[0]] == s]
            place = (float(row[cols[11]].item()), float(row[cols[12]].item()))
            ID = str(row[cols[0]].item())
            coords.append(place)
            indexes.append(ID)

        fig = gmaps.figure()
        markers = gmaps.marker_layer(coords, info_box_content=indexes)
        fig.add_layer(markers)

        return fig

In [49]:
single_id_map(config["Map_Distance(km)"], config["Map_site"], testing, testing_dic)

NameError: name 'testing' is not defined

In [0]:
def closest_neighbour(ID, df, dic):
    
    
    # directions map switch enabled by following if statement
    if config['directions_map_switch'] == 'OFF':
        return None
    
    elif config['directions_map_switch'] == 'ON':
        cols = list(df.columns)
    
        city = df[df[cols[0]] == ID][cols[3]].item()
        distances = dic[city][ID]

        lowest = min(filter(None, distances.values()))
        site = next(k for k, v in distances.items() if v == lowest)

        start_lat = df[df[cols[0]] == ID][cols[11]].item()
        start_lon = df[df[cols[0]] == ID][cols[12]].item()
        start_site = (float(start_lat), float(start_lon))

        end_lat = df[df[cols[0]] == site][cols[11]].item()
        end_lon = df[df[cols[0]] == site][cols[12]].item()
        end_site = (float(end_lat), float(end_lon))

        fig = gmaps.figure()
        route = gmaps.directions_layer(start_site, end_site,travel_mode = 'TRANSIT')
        fig.add_layer(route)


        return fig

In [0]:
closest_neighbour(45338052, testing, testing_dic)

Figure(layout=FigureLayout(height='420px'))

# 12. Export Data

In [0]:
def df_export_file(original_df, configured_df, file_name, file_path, project_ID, table_ID):
    
    # export switch enabled by following if statement
    if config['export_switch'] == 'OFF':
        return None
    
    elif config['export_switch'] == 'ON':
        
        if config['add_meta_data'] == 'YES':
            original_cols = list(original_df.columns)
            new_cols = list(configured_df.columns)
    
        if 'parquet' in file_name:
            output = dataframe.to_parquet(self, file_name, engine='auto', compression='snappy', index=None, partition_cols=None)
        elif 'csv' in file_name:
            output = dataframe.to_csv(r''+ file_path + '\\' + file_name + '.csv')
        elif 'json' in file_name:
            output = dataframe.to_json(r''+ file_path + '\\' + file_name + '.json')
        elif table_ID in file_name:
            bigquery_client = bigquery.Client(project = project_ID)
            sql = "CREATE TABLE" + file_name 
            job = bigquery_client.query(sql)
            output = dataframe.to_gbq(file_name,
                     project_ID,
                     if_exists='replace')


df_export_file(test, config["export_name"], config["export_path"], config["project_ID"], config["table_ID"])

1it [00:04,  4.27s/it]